<div class="partials chat empty">
	<div class="box md-whiteframe-1dp">
		<!-- <h3 class="title">Start Chat Today</h3> -->
		<div class="content md-whiteframe-1dp" layout="row">
			<div flex="35">
				<img src="assets/img/modal-ilustration.png" width="216px">
			</div>
			<div flex>
				<h3>
					<!-- <b>Enjoy the chat application!</b> -->
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
					<!-- <br><a href="#"><small><md-icon md-svg-src="assets/svg/file.svg"></md-icon>tutorial</small></a> -->
				</h3>
				<md-button class="blue" ng-click="vm.getStarted()">Get Started</md-button>
				<br><small>*21 days of free trial</small>
			</div>
		</div>
	</div>
</div>
