<div class="partials payment detail">
	<md-content class="md-whiteframe-1dp invoice">
		<div class="header" layout="row">
			<div class="logo" flex="40">
				<img src="http://www.keenthemes.com/preview/metronic/theme/assets/pages/img/logos/logo5.jpg">
				<h2 class="md-title">Invoice</h2>
			</div>
			<div class="address" flex>
				<p class="md-title">LINNYA INC.</p>
				<p class="md-body-1">
					25, Lorem Lis Street, Orange C <br>
					California, US <br>
					<b>phone</b> 1800 123 456 <br>
					<b>email</b> support@linnya.com <br>
					<b>email</b> www.linnya.com
				</p>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<div class="mini-table">
			<div layout="row">
				<p flex="40" class="md-body-2">Customer</p>
				<p flex class="md-body-2">Date</p>
				<p flex class="md-body-2">Address</p>
			</div>
			<div layout="row">
				<p flex="40" class="md-body-2">Lorem Tech Co.</p>
				<p flex class="md-body-2">Nov 12, 2015</p>
				<p flex class="md-body-2">25, Lorem Lis Street, Orange C, California, US</p>
			</div>
		</div>
		<br>
		<br>
		<br>
		<div class="mini-table product">
			<div layout="row">
				<p flex class="md-body-2">Service</p>
				<p flex class="md-body-2">Users Qty</p>
				<p flex class="md-body-2">Single Value</p>
				<p flex class="md-body-2">Amout</p>
			</div>
			<div layout="row">
				<p flex class="md-body-2">Live Chat</p>
				<p flex class="md-body-2">x2</p>
				<p flex class="md-body-2">$ 8,99 US</p>
				<p flex class="md-body-2">$ 17,98 US</p>
			</div>
			<div layout="row">
				<p flex class="md-body-2">Ticket</p>
				<p flex class="md-body-2">x1</p>
				<p flex class="md-body-2">$ 8,99 US</p>
				<p flex class="md-body-2">$ 8,99 US</p>
			</div>
			<div layout="row">
				<p flex class="md-body-2">Remote Access</p>
				<p flex class="md-body-2">x2</p>
				<p flex class="md-body-2">$ 25,99 US</p>
				<p flex class="md-body-2">$ 51,98 US</p>
			</div>
		</div>
		<br>
		<br>
		<div class="mini-table total" layout="row">
			<div flex="66"></div>
			<div flex>
				<p class="md-body-2"><b>Aplications:</b> $ 98,00 US</p>
				<p class="md-body-2"><b>Discount:</b> -12%</p>
				<p class="md-body-2"><b>Tax :</b> 0%</p>
				<p class="md-body-2"><b>Subtotal :</b> $ 63,00 US</p>
				<br>
				<br>
				<div class="right">
					<md-button class="blue">Print</md-button>
					<md-button class="blue">Pay whit Paypal</md-button>
				</div>
			</div>
		</div>
		
	</md-content>
</div>
