<div class="partials signup">
	
	<div class="content md-whiteframe-z1">
			<div layout="row">
				<div class="slide" flex>
					<br>
					<small><img src="assets/img/polygon-logo--.png" width="100%"></small>
					<br>
					<md-divider ng-if="!$last"></md-divider>
					<br>
					<br>
					<h2>Get ready to<br>master your job!</h2>
					<br>
					<br>
					<h3>Talk to visitors in real-time and<br>build more effective relationships<br>with your customers.</h3>
					<br>
					<br>
					<md-divider ng-if="!$last"></md-divider>					
					<br>
					<small><img src="assets/img/Google_Play_logo.png" width="60%"></small>
					<!-- <md-button>Red More</md-button> -->
				</div>
				<md-divider ></md-divider>
				<form name="vm.form.signup" flex>
					<br>
				<h2>Create your Account</h2>
				<p>We've just entered into a public test phase. Enjoy it for Free!</p>
					<br>
					<div class="form-row" layout="row"> 
						<md-input-container flex>
							<label>First Name</label>
							<input ng-model="vm.user.firstName" required>
						</md-input-container>
						<md-input-container flex>
							<label>Last Name</label>
							<input ng-model="vm.user.lastName" required>
						</md-input-container>
					</div>
					<div class="form-row" layout="row"> 
						<md-input-container flex>
							<label>Email</label>
							<input type="email" ng-model="vm.user.email" required>
						</md-input-container>
						<md-input-container flex>
							<label>Website</label>
							<input ng-model="vm.user.website" required>
						</md-input-container>
					</div>
					<div class="form-row" layout="row"> 
						<md-input-container flex>
							<label>Password</label>
							<input type="password" ng-model="vm.user.password" required>
							<!-- <input type="password" pattern=".{6,20}" ng-model="vm.user.password" required> -->
						</md-input-container>
						<md-input-container flex>
							<label>Repeat Password</label>
							<input type="password" ng-model="vm.user.password2" required>
						</md-input-container>
						<div flex="20">
							<password-strength target="vm.user.password"></password-strength>
						</div>
					</div>
					<div class="form-row" layout="row">
						 <md-checkbox flex="10" ng-model="vm.user.agree" aria-label="Agree terms" required></md-checkbox>
						 <p flex>I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
					</div>
					<br>
					<br>
					<div class="form-row" layout="row">
						<md-button class="blue" ng-click="vm.send(vm.user)">Register</md-button>
					</div>
				</form>
		</div>
	</div>
	<footer>
		<a class="opt ng-scope" href="/#/signin">Already have an account? Sign in now!</a>
		<div class="copy">
	    	<p class="grey-text text-darken-2"> <small>©2017 Linnya Technology, Inc.  | All right reserved</small></p>    
	  	</div>
	</footer>
</div>