<div class="partials welcome">
	<div class="container">
	<br>
	<br>
	<br>
		<md-content class="box" class="md-whiteframe-z1" flex="40">
			<h2>Welcome to the staff</h2>
			<div class="content">
				<p class="callback">This is awesome! Your register has been done.</p>
				<p>You're now part of team  formed  by hundreds of people who use <b>Linnya Network</b> services daily to talk to online visitors and more than that to humanize the internet.</p>
			</div>
		</md-content>
		<div flex></div>
	</div>
<!-- 	<footer>
		<a class="opt ng-scope" href="#/signup">Create an account</a>
		<div class="copy">
	    	<p class="grey-text text-darken-2"> <small>©2015 Linnya Technology, Inc.  | All right reserved</small></p>    
	  	</div>
	</footer> -->
</div>
