<div class="partials welcome">
	<div class="content md-whiteframe-z1">
		<div layout="row">
			<div class="row" flex>
				<h2>Install the code</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
				<div class="code">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
				<br>
				<small><b>Important!</b> consectetur adipisicing elit, sed do eiusmod
				tempor.</small>
				<br>
				<br>
				<div class="plugins">
					<a href="#"><img width="40px" src="assets/img/WordPress_blue_logo.png"></a>
					<a class="disable" href="#"><img width="32px" alt="comming soon!" src="assets/img/magento-logo.png"></a>
					<a class="disable" href="#"><img width="56px" alt="comming soon!" src="assets/img/Opencart.png"></a>
					<a class="disable" href="#"><img width="80px" alt="comming soon!" src="assets/img/ghost_logo.png"></a>
				</div>
				<br>

			</div>
			<div flex>
				<h2>Download app</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<img src="assets/img/en_badge_web_generic.png" width="50%">
			</div>
		</div>
	</div>
	<footer>
		<a class="opt ng-scope" href="/#/signin">Already have an account? Sign in now!</a>
		<div class="copy">
	    	<p class="grey-text text-darken-2"> <small>©2017 Linnya Technology, Inc.  | All right reserved</small></p>    
	  	</div>
	</footer>
</div>
