<div class="partials welcome">
	<div class="content md-whiteframe-z1">
		<md-toolbar class="logo">
			<h4><img src="assets/img/polygon-logo--live-chat-.png" width="55%"></h4>
		</md-toolbar>
		<md-divider></md-divider>
		<div layout="row">
			<div class="row" flex>
				<h2>How to Install</h2>
				<p>There are two ways to get it done for now: by injection or by using a Plugin.</p>
				<br>
				<p><b>1) Injection:</b></p>
				<p>Copy and paste this code into your HTML code, in the < header > or in the < footer >.</p>
				<div class="code">Lorem ipsum dolor sit amet, consectetur adipisici <br><br>ngelit, sed do eiusmod 	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <br><br>nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in<br>reprehe<br><br>nderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
				<br>				
				<p>The live chat widget will appear in all pages containing this code.<br><br>Next step are to download the app, update your profile and start chatting to people outside.</p>				
				<br>
				<p><b>2) Plugin</b></p>				
				<p>You can also integrate Linnya Network Live Chat in your website by using one of our available plugins:</p>
				<!-- <small><b>Important!</b> consectetur adipisicing elit, sed do eiusmod
				tempor.</small> -->
				<br>
				<div class="plugins">
					<a href="#"><img width="40px" src="assets/img/WordPress_blue_logo.png"></a>
					<a class="disable" href="#"><img width="32px" alt="comming soon!" src="assets/img/magento-logo.png"></a>
					<a class="disable" href="#"><img width="56px" alt="comming soon!" src="assets/img/Opencart.png"></a>
					<a class="disable" href="#"><img width="80px" alt="comming soon!" src="assets/img/ghost_logo.png"></a>
				</div>
				<br>
			</div>
			<div class="row blue lighten-2" flex>
				<br>
				<h3>Get the App</h3>
				<h6>Download Linnya Network Live Chat,<br>log-in, and start chatting to your<br>visitors in real-time.
				</h6>
				<br>
				<h3><img src="assets/img/cel_vertical_now.png" width="60%"></h3>
				<br>
				<h3><a href="#"><img src="assets/img/google-play-badge.png" width="45%"></a></h3>
			</div>
		</div>
	</div>
	<footer>
		<a class="opt ng-scope" href="/#/signin">Already have an account? Sign in now!</a>
		<div class="copy">
	    	<p class="grey-text text-darken-2"> <small>©2017 Linnya Technology, Inc.  | All right reserved</small></p>    
	  	</div>
	</footer>
</div>
