<div class="partials chat analytics">
	<div class="boxes" layout="row" layout-padding>
		<div class="box" flex>
			<md-content class="md-whiteframe-1dp">
				<div class="title">
					<h3>Chats 
						<div class="right">
							<md-icon class="right" md-svg-src="assets/svg/dots-vertical.svg"></md-icon>
						</div> 
					</h3>
				</div>
				<br>
				<div class="chart-area">
					<canvas class="chart chart-line" chart-data="data" chart-labels="labels" 
		    		chart-series="series" chart-click="onClick"></canvas> 
	    		</div>
				<br>
				<br>
			</md-content>
		</div>
		<div class="box" flex>
			<md-content class="md-whiteframe-1dp">
				<div class="title">
					<h3>Visitors 
						<div class="right">
							<md-icon class="right" md-svg-src="assets/svg/dots-vertical.svg"></md-icon>
						</div> 
					</h3>
				</div>
				<br>
				<div class="chart-area">
					<canvas class="chart chart-line" chart-data="data" chart-labels="labels" 
		    		chart-series="series" chart-click="onClick"></canvas> 
	    		</div>
				<br>
				<br>
			</md-content>
		</div>
	</div>
	
</div>
