<md-dialog class="partials modal">
	<md-dialog-content class="content" layout="row">
		<div flex>
			<h2>Successfully Done!</h2>
		 	<br>
			A special registration link valid for <a href="#">24 hours</a> has been sent
		 	to <a href="#" ng-bind="userEmail">lucas.devcosta@gmail.com.</a>
		 	<br>
		 	<br>
			<b>Authentication</b>
		 	<br>
		 	<br>
			The new agent card will be sort here as soon as the profile 
			gets finished by this person. Meanwhile, you can directly
		 	contact him/her to ensure this matter to be done in time.
		 	<br>
		 	<br>
			<b>Cost</b>
		 	<br>
		 	<br>
			New Agents are totally free. We only charge active app 
			connections. Learn more about it at the link below.
		 	<br>
		</div>
		<div flex>
			<img src="">
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
	  <span flex></span>
	  <md-button class="blue" ng-click="vm.dialogClose()">
	   GOT IT
	  </md-button>
	</md-dialog-actions>
</md-dialog>